img{
    border-radius: 10px;
}
h1{
    color: rgb(233, 156, 40);
    margin: 25px;
}

.main{
    height: 100px;
    background: rgb(126, 95, 182);
    display: flex;
    justify-content: space-between;
}
.sub{
    margin-top: 35px;
    font-size: x-large;
   margin-right: 200px;
    color: rgb(47, 144, 219);
    

}
img{
    max-height: 70%;
    max-width: 100%;
}