img{
    border-radius: 10px;
}
h1{
    color: rgb(149, 13, 240);
    margin: 25px;
}

.main{
    height: 100px;
    background: rgb(11, 26, 13);
    display: flex;
    justify-content: space-between;
}
.sub{
    margin-top: 35px;
    font-size: x-large;
   margin-right: 200px;
    color: rgb(47, 144, 219);
    

}
img{
    max-height: 70%;
    max-width: 100%;
}